*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.cardHome{
 width: 400px;
 height: 300px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 padding: 10px;
 text-align: center;
 background-color: #048a59;
 border-radius: 8px;
 box-shadow: 6px 5px 16px gray;
}

.cardLogin{
 width: 400px;
 height: 300px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 background-color: #048a59;
 border-radius: 8px;
 box-shadow: 6px 5px 16px gray;
}

input {
    width: 200px;
    height: 30px;
    margin-top: 5px;
    border: none;
    color: green;
}

form button {
    margin-top: 10px;
    width: 100px;
}

p{
    color: white;
}
.btnWallet {
    display: flex;
     flex-direction: column;
     gap: 5px;
}

button{
    margin-bottom: 8px;
    padding: 12px ;
    width: 200px;
    box-shadow: 4px 5px 16px #025928;
    border: none;
    color: green;
    border-radius: 5px;
    
}